{% extends 'baseUser.html.twig' %}

{% block body %}

<div class="bout">

    {{ bout.name }}
    {{ bout.appelation }}

    <img src="{{ bout.metId.image }}">
    <img src="{{ bout.image }}">
    {{ bout.description }}
    {{ bout.prix }}

</div>

{% endblock %}
