{% extends 'baseUser.html.twig' %}

{% block body %}

<div class="bout">

    {{ bout.name }}
    {{ bout.appelation }}

    {% for met in mets %}

        {{ met.title }}
       <img src="{{ met.image }}">

    {% endfor %}


    <img src="{{ bout.image }}">
    {{ bout.description }}
    {{ bout.prix }}




    {%   dump mets %}




</div>

{% endblock %}
