{% extends 'baseUser.html.twig' %}

{% block body %}

<div class="bout">

    {{ bout.name }}<br>
    {{ bout.appelation }}<br>

    {% for met in mets %}

        {{ met.title }}
       <img id="met{{ loop.index}}"src="{{ met.image }}">

    {% endfor %}

    <img src="{{ bout.image }}">

</div>

    {{ bout.description }}
    {{ bout.prix }}











{% endblock %}
