{% extends 'baseUser.html.twig' %}

{% block body %}

<div id="page">
    <div id="img">

 <div class="met-title">{{ mets[0].title }}</div>

    <img class="met" id="center" src="{{ mets[0].image }}">

    </div>


    <div id="img2">

    <div class="met-title">{{ mets[1].title }}</div>

    <img class="met" id="lh" src="{{ mets[1].image }}">

    </div>

    <div id="img3">

    <div class="met-title">{{ mets[2].title }}</div>


    <img class="met" id="lb" src="{{ mets[2].image }}">

    </div>


    <div id="contenant">

    {{ bout.name }}


    <img class="met" id="imgvin" src="{{ bout.image }}">

    </div>


    <div id="img4">

       <div class="met-title">{{ mets[3].title }}</div>


    <img class="met" id="rh" src="{{ mets[3].image }}">

    </div>

    <div id="img5">

      <div class="met-title">{{ mets[4].title }}</div>


    <img class="met" id="rb" src="{{ mets[4].image }}">

    </div>

    <div id="js">
        <h3>Astuce cliquez sur un met ou une bouteille</h3>

    </div>
    </div>





        <script>

    document.getElementById('imgvin').addEventListener ('click', function() {
       document.getElementById('js').innerText = ( "L'abus d'alcool est dangereux pour la santé à consommer avec modération")
    });

    document.getElementById('img').addEventListener('click', function () {
        document.getElementById('js').innerText = ( "lors d'un repas il est de coutume de monter en puissance au niveau des tanins en entrée un blanc puis un rouge fruité pour arriver sur le rouge tanique et on fini en bulles")

    });

    document.getElementById('img2').addEventListener('click', function () {
        document.getElementById('js').innerText = ("en ce qui concerne la décantation en carafe cela peut vous aider à faire s'oxygéner et offrir tout ses aromes alors qu'un vin mature pourra être servi à même la bouteille")
    });

    document.getElementById('img3').addEventListener('click', function () {
        document.getElementById('js').innerText = ("le fromage de chèvre s'accorde à la perfection avec un vin blanc de type sancerre, chablis, sylvaner,....vous serez étonné du résultat")
    });

    document.getElementById('img4').addEventListener('click', function () {
        document.getElementById('js').innerText = ("préfèrez une cave en terre battue ou poussieureuse afin de passer un coup de jet et couvrir vos bouteilles d'une fine couche  poussièreuse")
    });

    document.getElementById('img5').addEventListener('click', function () {
        document.getElementById('js').innerText = ("savez vous que Charles de Gaulle a donné son nom à un tire bouchon ceux qui une fois vissés ressemble à un 'V'....")
    });

</script>

{% endblock %}
