{% extends 'baseUser.html.twig' %}

{% block body %}
    {#



  <div class="bout">




  <div>
        <div> <br>
         <img id="met{{ loop.index}}"src="{{ met.image }}"><br></div>




  </div>
  </div>


  #}



    <div id="img">
        {{ mets[0].title }}
    </div>

    <img class="met" id="center" src="{{ mets[0].image }}">



    <div id="img2">
        {{ mets[1].title }}
    </div>



    <img class="met" id="lh" src="{{ mets[1].image }}">


    <div id="img3">
        {{ mets[2].title }}
    </div>

    <img class="met" id="lb" src="{{ mets[2].image }}">


    <div id="contenant">

    {{ bout.name }}

    {{ bout.prix }}
    </div>

    <img class="met" id="imgvin" src="{{ bout.image }}">



    <div id="img4">
        {{ mets[3].title }}
    </div>

    <img class="met" id="rh" src="{{ mets[3].image }}">


    <div id="img5">
        {{ mets[4].title }}
    </div>

    <img class="met" id="rb" src="{{ mets[4].image }}">






















{% endblock %}
