{% extends 'baseUser.html.twig' %}

{% block body %}
<div id="total">
    <div class="botlle">

        {% for vin in vins %}
            <div id="bout">
                {{ vin.name }}<br>
                {{ vin.description }}<br>
                <a href="{{ path('bout',{'id':vin.id}) }}"><img class="bouteille" src="{{vin.image}}"></a> <br>
                {{ vin.prix }}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}