{% extends 'base.html.twig' %}

{% block title %}Vin index{% endblock %}

{% block body %}
    <h1>Vin index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>appelation</th>
                <th>Name</th>
                <th>Color</th>
                <th>Description</th>

                <th>prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vin in vins %}
            <tr>
                <td>{{ vin.id }}</td>
                <td>{{ vin.appelation }}</td>
                <td>{{ vin.name }}</td>
                <td>{{ vin.color }}</td>
                <td>{{ vin.description }}</td>

                <td>{{ vin.prix }}</td>
                <td>
                    <a class="show" href="{{ path('vin_show', {'id': vin.id}) }}">show</a>
                    <a class="edit" href="{{ path('vin_edit', {'id': vin.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn-create" href="{{ path('vin_new') }}">Create new</a>
{% endblock %}
