<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block stylesheets %}<link rel="stylesheet" href="{{ asset("MaCave.css") }}">{% endblock %}
    <meta content="width=devise-width, initial-scale=1" name="viewport"/>
    <title>{% block title %}lemondeDeSeb{% endblock %}</title>
    <h1>Le Monde De Seb</h1>
<div class="user-info">

    <span>....</span>

    <a class="delog" href="{{ logout_path('main') }}">deconnection</a>

    <a class="btn-retour" href="{{ path ('homepage') }}">acceuil</a>

    <a class="btn-user" href="{{ path('baseUser') }}">VinUser</a>

</div>
<header>{% block header %}



        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

           <div class="strat">
                <p>
                    <strong id="bienvenu">

                        Bienvenue, <span>{{ app.user.username }}</span>

                    </strong>
                </p>



        {% endif %}



        <main class="container">

            <nav class="barre">

                <div class="menu">



                    <a href="{{ path ('vin_rouge')}}" id="rouge">Rouge</a>

                    <a href="{{ path ('vin_rose') }}" id="rose">Rosé</a>

                    <a href="{{ path ('vin_blanc') }}" id="blanc" >Blanc</a>

                    <a href="{{ path('vin_petillant') }}" id="pet" >petillant</a>



                </div>

            </nav>

        </main>
    {% endblock %}</header>



<body>
{% block body %}{% endblock %}
{% block top_scripts %}

    {% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>
